.container {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 525px;
  
    h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      color: #00A1F4;
      width: 100%;
    }
  
    .headerBlock {
      width: 100%;
      border-bottom: 1px solid #E6E6E6;
    }
  
    .inputBlocks {
      width: 100%;

    }
  
    .footerCustom {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid #E6E6E6;
      margin-top: 15px;
      padding: 15px 0px 10px 0px;
    }
  
    form {
      width: 100%; 
    }
  }
  